main {

  margin: 3% 10%;
  color: #333333;
}

h1{

  text-decoration: underline;
  text-underline-offset: 10px;

}

.cardellino{

  display: flex;
  justify-content: center;

}

.indice ul {

  display: flex;
  margin: 8vh 0;
  justify-content: space-around;
  list-style: none;

}

.indice a {

  display: flex;
  color: #333333ab;
  font-weight: 500;
  font-size: 1.15rem;
  transition: color 0.2s ease;
  text-decoration: none;
  position: relative;

}

.indice a::after{

  content: "";
  position: absolute;
  left: 50%;             
  bottom: -4px;          
  width: 0;              
  height: 2.5px;          
  background-color: #d50101b9;
  transition: width 0.2s ease, left 0.2s ease;

}

.indice a:hover {

  color: #d50101b9;

}

.indice a:hover::after {
  width: 100%;           
  left: 0;              
}

section article{

  display: flex;
  width: 100%;
  justify-content: space-around;
  color: #fdfdfd;
  overflow-x: auto;  
  gap: 24px;
  scroll-behavior: smooth;

}

article::-webkit-scrollbar {

  height: 0px;

}

article > div{

  display: flex;
  flex-direction: column;

  border-radius: 5px;
  padding: 12px;
  padding-bottom: fit-content;

}

div > img{

  border-radius: 5px;

}

div > h3{

  margin-top: 10px;
  margin-bottom: 5px;

  font-size: 1rem;

}

div > p{

  margin: 0px;
  opacity: 55%;
  font-size: 0.84rem;
  font-weight: 300;

}

.volando-sin-capa{

  background-color: #131e0d;

}

.cardellino-album{

  background-color: #450504;

}

.tiramisu{

  background-color: #400e11;

}

.love-dealer{

  background-color: #002437;

}

.sukha{

  background-color: #1d3243;

}

.living-session{

  background-color: #2d1142;

}

.room-session{

  background-color: #243932;

}

.studio-session{

  background-color: #340e0b;

}

.sukha-session-I{

  background-color: #1c0e01;

}

.sukha-session-II{

  background-color: #0f0e14;

}

.siento-por-ciento{

  background-color: #430a09;

}

.parapente{

  background-color: #0b3740;

}

.perfume-dior{

  background-color: #060a13;

}

.zendaya{

  background-color: #180d11;

}

.quien-pudiera{

  background-color: #454742;

}

.no-estes-triste{

  background-color: #120c0e;

}

.promesas-de-origami{

  background-color: #3a2d39;

}

.otra-nota{

  background-color: #181818;

}

.no-llores{

  background-color: #404028;

}

.cien-mil-metros{

  background-color: #3e1300;

}

table {

  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;


}

thead th {
  
  padding: 14px 0px;
  border: 1.5px solid #33333399;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.45);
  color: #e5e5e5;

}

tbody td {

  padding: 14px 12px;
  border-right: 1.5px solid #33333399;
  border-left: 1.5px solid #33333399;
  
}

tbody tr:nth-child(even){

  background-color: rgba(0, 0, 0, 0.1);

}

tbody tr:nth-child(odd){

  background-color: rgba(0, 0, 0, 0.04);

}

tbody td:nth-child(1) {

  text-align: left;

}

tbody td{

  text-align: center;

}

tbody tr:last-child td {

  border-bottom: 1.5px solid #33333399;

}
