main {

  margin: 3% 20%; 
  color: #333333;

}

.indice ul {

  display: flex;
  margin: 5vh 0;
  padding: 0;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  list-style: none;

}

.indice a {

  display: flex;
  color: #333333ab;
  font-weight: 500;
  transition: color 0.2s ease;
  text-decoration: none;
  position: relative;

}

.indice a::after{

  content: "";
  position: absolute;
  left: 50%;             
  bottom: -4px;          
  width: 0;              
  height: 2.5px;          
  background-color: #d50101b9;
  transition: width 0.2s ease, left 0.2s ease;

}

.indice a:hover {

  color: #d50101b9;

}

.indice a:hover::after {
  width: 100%;           
  left: 0;              
}

.presentaciones-vivo {

  display: flow-root;

}

.presentaciones-vivo img {

  float: left;
  margin-right: 1.25rem;
  border: 1.5px solid #333333;
  border-radius: 0.65rem;

}

.presentaciones-vivo ol {
  list-style-position: inside;
}

.aprendizaje img {

  float: left;
  margin-right: 0.95rem;
  border: 1.5px solid #333333;
  border-radius: 0.65rem;

}

.premios-reconocimientos img {

  float: right;
  margin-left: 0.9rem;
  margin-right: 1.0rem;
  border: 1.5px solid #333333;
  border-radius: 0.65rem;

}

li::marker {

  font-weight: 600;
  color: #b2211c;

}