main{

  margin: 3% 20%;
  color: #333333;

}

.cursiva{

  font-style: italic;

}

@media (max-width: 992px) {
  main {
    margin: 3% 8%;
  }
}

@media (max-width: 768px) {
  main {
    margin: 3% 5%;
  }
}
