.banner {

  height: 65vh;
  background-image: 
    linear-gradient(rgba(0,0,0,0.6)),
    url("/images/inicio/luna-park.jpg");
  background-position: center 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #e5e5e5;
  
}

.banner h1{

  margin: 0px;
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: -0.07rem;

} 

.banner p{

  margin: 0px;
  font-size: 0.8rem;
  font-weight: 300;

} 

.info{

  margin: 7vh 40vh;
  color: #333333;

}

/* .info h1{

  text-decoration: underline;
  text-underline-offset: 0.7rem;
  text-decoration-thickness: 0.125rem;

} */

.video{

  display: flex;
  justify-content: center;

}